.carousel {
  .carousel-item {
    background-size: cover;
    background-position: center;
    height: 30vh;

    @media (min-width: 768px) {
      height: 40vh;
      .hero-title {
        font-weight: 600;
      }
    }

    @media (min-width: 1200px) {
      height: 50vh;

      .hero-title {
        text-align: center;
        margin-bottom: 50px;
      }
    }

    .container {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
    }
  }
}
