#timetable {
  .row {
    justify-content: center;
  }

  .section-heading {
    width: fit-content;
    flex-basis: auto;
  }
}

.carousel {
  .carousel-item {
    background-size: cover;
    background-position: center;
    height: 30vh;

    @media (min-width: 768px) {
      height: 40vh;
      .hero-title {
        font-weight: 600;
      }
    }

    @media (min-width: 1200px) {
      height: 50vh;

      .hero-title {
        text-align: center;
        margin-bottom: 50px;
      }
    }

    .container {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
    }
  }
}

.timetable-container {
  display: flex;
  justify-content: center;
}

.timetable {
  width: 100%;
  height: 75vh;
  max-width: 888px;
  max-height: 484px;

  @media (min-width: 992px) {
    margin-top: 16px;
  }
}

// Styling for seperate timetable.html
// event timetable page
#timetable-page {
  margin-top: 45px;
  margin-left: 60px;
  margin-right: 60px;

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2rem;
  }

  .grey {
    color: rgba(0, 0, 0, 0.54);
  }

  .timetable-display {
    border: 4px solid rgba(0, 0, 0, 0.15);
    width: 528px;
    height: 92.2vh;
  }

  .robocup-logo {
    width: auto;
    max-height: 65px;
    margin-top: 22px;
  }

  .robocup-german-open-logo {
    width: auto;
    max-width: 275px;
    margin-top: 26px;
  }

  .right-slot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sponsors-row {
    margin-top: 18px;
  }
}


.sponsors {
  margin-top: -20px;
  margin-bottom: -20px;

  @media (min-width: 768px) {
    margin-top: -30px;
    margin-bottom: -30px;
  }

  img {
    padding: 20px;
    max-height: 120px;

    @media (min-width: 768px) {
      padding: 30px;
    }

    @media (min-width: 1200px) {
      max-height: 140px;
    }
  }
}

